<html>
    <head>
        <title>Register</title>
        <link rel="stylesheet" href="style2.css">
    </head> 
    <body>
        <div class="container"> 
            <h2>Registration Form</h2>
            <form method="POST">
                <input type="text" id="facultyid" name="facultyid" placeholder="Lecture ID" required><br><br>
                <input type="text" id="fullname" name="fullname" placeholder="Full Name" required><br><br>
                <input type="email" id="email" name="email" placeholder="Email" required><br><br>
                <input type="text" id="username" name="username" placeholder="Username" required><br><br>
                <input type="text" id="password" name="password" placeholder="Password" required><br><br>
                <input type="text" id="conform_password" name="conform_password" placeholder="Confirm Password" required><br><br>
                <!-- <input type="text" id="subjectid" name="subjectid" placeholder="Subject ID" required><br><br>
                <input type="text" id="subjectname" name="subjectname" placeholder="Subject Name" required><br><br> -->
                <input type="number" id="phnNo" name="phnNo" placeholder="Phone Number" required><br><br>
                <div class="buttons">
                <button type="button" value="back">Back</button>
                <button type="submit" value="register">Register</button>
                </div>
    </body>
</html>